body {
  background-color: #064c71 !important;
}

.App {
  text-align: center;
  background-color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  font-size: calc(10px + 2vmin);
}

.App-body {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.reservation-form{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px){
  .reservation-input{
    width: 30vw !important;
  }
}

@media screen and (max-width: 1199px) {
  .reservation-input{
    width: 50vw !important;
  }
}

@media screen and (max-width: 601px) {
  .reservation-input{
    width: 90vw !important;
  }
}

.nav-bar {
  text-align: center;
  background-color: white;
  margin-bottom: 52px;
}

.review-text{
  font-weight: bold;
}

.list {
  font-size: 18px;
  text-align: left;
}
